@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;

	color: #111111;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 11pt;

	background: #c3a88c;
	background-image: url(../img/background.jpg);
}

img {
	vertical-align: middle;
}

a {
	color: #111111;
	text-decoration: none;
}

#content {
	margin: auto;
	width: 700px;
}

/* header */

header {
	position: relative;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #e6e6e6;
}

#knorkekunst {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 100px;
	
	font-size: 25pt;
	letter-spacing: 0.5em;
	line-height: 1.2em;
}

/* footer */

footer {
	background-color: #e6e6e6;
}

#letter {
	margin-top: 30px;
	transform: scale(0.7, 0.7);
	-ms-transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7);
}

#menu {
	font-size: 14pt;
	margin: 20px;
}

#menu a:hover {
	text-decoration: underline;
}

#copyright {
	margin: 20px;
}
